<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container d-flex flex-column">
        <form method="post" action="/user/login">
            <div class="form-group"><label for="exampleInputEmail1">Username</label><input class="form-control"
                    id="exampleInputEmail1" type="" aria-describedby="emailHelp" placeholder="Enter your username"
                    name="username"></div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label><input class="form-control"
                    id="exampleInputPassword1" type="password" placeholder="Enter your password" name="password"></div>
            <div class="row justify-content-center">
                <button class="btn btn-primary" type="submit" style="margin-right: 32px;">Login</button>
                <button class="btn btn-primary" type="submit">
                    <a href="/user/register" style="text-decoration:none;color:white;">Register</a>
                </button>
            </div>
        </form>
        <br>
        <div class="entry">
            {{#if err}}
            <div class="alert alert-danger" role="alert">{{msg}}</div>
            {{/if}}
        </div>
    </div>
</body>
</html>