<div class="container">
    <table class="table" style="margin: auto;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã Sản Phẩm</th>
            <th scope="col">Tên Sản Phẩm</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <button class="btn btn-primary">Xóa</button>
                <button class="btn btn-danger">Sửa</button>

            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
                <button class="btn btn-primary">Xóa</button>
                <button class="btn btn-danger">Sửa</button>

            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>
                <button class="btn btn-primary">Xóa</button>
                <button class="btn btn-danger">Sửa</button>

            </td>
        </tr>
    </tbody>
</table>
</div>